[submodule "sites/all/modules/block_class"]
	path = sites/all/modules/block_class
	url = http://git.drupal.org/project/block_class.git
[submodule "sites/all/modules/features"]
	path = sites/all/modules/features
	url = http://git.drupal.org/project/features.git
[submodule "sites/all/modules/features_extra"]
	path = sites/all/modules/features_extra
	url = http://git.drupal.org/project/features_extra.git
[submodule "sites/all/modules/jquery_update"]
	path = sites/all/modules/jquery_update
	url = http://git.drupal.org/project/jquery_update.git
[submodule "sites/all/modules/lightbox2"]
	path = sites/all/modules/lightbox2
	url = http://git.drupal.org/project/lightbox2.git
[submodule "sites/all/modules/menu_attributes"]
	path = sites/all/modules/menu_attributes
	url = http://git.drupal.org/project/menu_attributes.git
[submodule "sites/all/modules/menu_import"]
	path = sites/all/modules/menu_import
	url = http://git.drupal.org/project/menu_import.git
[submodule "sites/all/modules/node_export"]
	path = sites/all/modules/node_export
	url = http://git.drupal.org/project/node_export.git
[submodule "sites/all/modules/nodequeue"]
	path = sites/all/modules/nodequeue
	url = http://git.drupal.org/project/nodequeue.git
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = http://git.drupal.org/project/pathauto.git
[submodule "sites/all/modules/references"]
	path = sites/all/modules/references
	url = http://git.drupal.org/project/references.git
[submodule "sites/all/modules/strongarm"]
	path = sites/all/modules/strongarm
	url = http://git.drupal.org/project/strongarm.git
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = http://git.drupal.org/project/token.git
[submodule "sites/all/modules/uuid"]
	path = sites/all/modules/uuid
	url = http://git.drupal.org/project/uuid.git
[submodule "sites/all/modules/bc_islandora"]
	path = sites/all/modules/bc_islandora
	url = git@github.com:BarnardArchives/bc_islandora.git
[submodule "sites/all/libraries/bookreader"]
	path = sites/all/libraries/bookreader
	url = git://github.com/openlibrary/bookreader.git
[submodule "sites/all/libraries/tuque"]
	path = sites/all/libraries/tuque
	url = git://github.com/Islandora/tuque.git
[submodule "sites/all/modules/islandora"]
	path = sites/all/modules/islandora
	url = git://github.com/Islandora/islandora.git
[submodule "sites/all/modules/islandora_batch"]
	path = sites/all/modules/islandora_batch
	url = git://github.com/Islandora/islandora_batch.git
[submodule "sites/all/modules/islandora_book_batch"]
	path = sites/all/modules/islandora_book_batch
	url = git://github.com/Islandora/islandora_book_batch.git
[submodule "sites/all/modules/islandora_bookmark"]
	path = sites/all/modules/islandora_bookmark
	url = git://github.com/Islandora/islandora_bookmark.git
[submodule "sites/all/modules/islandora_fits"]
	path = sites/all/modules/islandora_fits
	url = git://github.com/Islandora/islandora_fits.git
[submodule "sites/all/modules/islandora_ga_reports"]
	path = sites/all/modules/islandora_ga_reports
	url = https://github.com/discoverygarden/islandora_ga_reports
[submodule "sites/all/modules/islandora_importer"]
	path = sites/all/modules/islandora_importer
	url = git://github.com/Islandora/islandora_importer.git
[submodule "sites/all/modules/islandora_internet_archive_bookreader"]
	path = sites/all/modules/islandora_internet_archive_bookreader
	url = git://github.com/Islandora/islandora_internet_archive_bookreader.git
[submodule "sites/all/modules/islandora_ip_embargo"]
	path = sites/all/modules/islandora_ip_embargo
	url = https://github.com/Islandora/islandora_ip_embargo.git
[submodule "sites/all/modules/islandora_jodconverter"]
	path = sites/all/modules/islandora_jodconverter
	url = https://github.com/discoverygarden/islandora_jodconverter.git
[submodule "sites/all/modules/islandora_jwplayer"]
	path = sites/all/modules/islandora_jwplayer
	url = git://github.com/Islandora/islandora_jwplayer.git
[submodule "sites/all/modules/islandora_marcxml"]
	path = sites/all/modules/islandora_marcxml
	url = https://github.com/Islandora/islandora_marcxml.git
[submodule "sites/all/modules/islandora_oai"]
	path = sites/all/modules/islandora_oai
	url = git://github.com/Islandora/islandora_oai.git
[submodule "sites/all/modules/islandora_ocr"]
	path = sites/all/modules/islandora_ocr
	url = git://github.com/Islandora/islandora_ocr.git
[submodule "sites/all/modules/islandora_openseadragon"]
	path = sites/all/modules/islandora_openseadragon
	url = git://github.com/Islandora/islandora_openseadragon.git
[submodule "sites/all/modules/islandora_paged_content"]
	path = sites/all/modules/islandora_paged_content
	url = git://github.com/Islandora/islandora_paged_content.git
[submodule "sites/all/modules/islandora_plupload"]
	path = sites/all/modules/islandora_plupload
	url = https://github.com/discoverygarden/islandora_plupload.git
[submodule "sites/all/modules/islandora_scholar"]
	path = sites/all/modules/islandora_scholar
	url = https://github.com/discoverygarden/islandora_scholar
[submodule "sites/all/modules/islandora_simple_workflow"]
	path = sites/all/modules/islandora_simple_workflow
	url = git://github.com/Islandora/islandora_simple_workflow.git
[submodule "sites/all/modules/islandora_solr_metadata"]
	path = sites/all/modules/islandora_solr_metadata
	url = git@github.com:Islandora/islandora_solr_metadata.git
[submodule "sites/all/modules/islandora_solr_search"]
	path = sites/all/modules/islandora_solr_search
	url = git://github.com/Islandora/islandora_solr_search.git
[submodule "sites/all/modules/islandora_solr_views"]
	path = sites/all/modules/islandora_solr_views
	url = git://github.com/Islandora/islandora_solr_views.git
[submodule "sites/all/modules/islandora_solution_pack_audio"]
	path = sites/all/modules/islandora_solution_pack_audio
	url = git://github.com/Islandora/islandora_solution_pack_audio.git
[submodule "sites/all/modules/islandora_solution_pack_book"]
	path = sites/all/modules/islandora_solution_pack_book
	url = git://github.com/Islandora/islandora_solution_pack_book.git
[submodule "sites/all/modules/islandora_solution_pack_collection"]
	path = sites/all/modules/islandora_solution_pack_collection
	url = git://github.com/Islandora/islandora_solution_pack_collection.git
[submodule "sites/all/modules/islandora_solution_pack_compound"]
	path = sites/all/modules/islandora_solution_pack_compound
	url = https://github.com/Islandora/islandora_solution_pack_compound.git
[submodule "sites/all/modules/islandora_solution_pack_document"]
	path = sites/all/modules/islandora_solution_pack_document
	url = https://github.com/discoverygarden/islandora_solution_pack_document.git
[submodule "sites/all/modules/islandora_solution_pack_image"]
	path = sites/all/modules/islandora_solution_pack_image
	url = git://github.com/Islandora/islandora_solution_pack_image.git
[submodule "sites/all/modules/islandora_solution_pack_large_image"]
	path = sites/all/modules/islandora_solution_pack_large_image
	url = git://github.com/Islandora/islandora_solution_pack_large_image.git
[submodule "sites/all/modules/islandora_solution_pack_pdf"]
	path = sites/all/modules/islandora_solution_pack_pdf
	url = git://github.com/Islandora/islandora_solution_pack_pdf.git
[submodule "sites/all/modules/islandora_solution_pack_video"]
	path = sites/all/modules/islandora_solution_pack_video
	url = git://github.com/Islandora/islandora_solution_pack_video.git
[submodule "sites/all/modules/islandora_xacml_editor"]
	path = sites/all/modules/islandora_xacml_editor
	url = https://github.com/Islandora/islandora_xacml_editor.git
[submodule "sites/all/modules/islandora_xml_forms"]
	path = sites/all/modules/islandora_xml_forms
	url = git://github.com/Islandora/islandora_xml_forms.git
[submodule "sites/all/modules/objective_forms"]
	path = sites/all/modules/objective_forms
	url = git@github.com:Islandora/objective_forms.git
[submodule "sites/all/modules/php_lib"]
	path = sites/all/modules/php_lib
	url = git://github.com/Islandora/php_lib.git
[submodule "sites/all/modules/islandora_solution_pack_newspaper"]
	path = sites/all/modules/islandora_solution_pack_newspaper
	url = https://github.com/Islandora/islandora_solution_pack_newspaper.git
[submodule "sites/all/modules/islandora_solution_pack_manuscript"]
	path = sites/all/modules/islandora_solution_pack_manuscript
	url = https://github.com/discoverygarden/islandora_solution_pack_manuscript.git
[submodule "sites/all/modules/islandora_pathauto"]
	path = sites/all/modules/islandora_pathauto
	url = https://github.com/rosiel/islandora_pathauto.git
[submodule "sites/all/themes/barnard_theme"]
	path = sites/all/themes/barnard_theme
	url = git@github.com:BarnardArchives/barnard_theme.git
[submodule "sites/all/modules/barnard_content_feature"]
	path = sites/all/modules/barnard_content_feature
	url = git@github.com:discoverygarden/barnard_content_feature.git
[submodule "sites/all/modules/barnard_theme_feature"]
	path = sites/all/modules/barnard_theme_feature
	url = git@github.com:discoverygarden/barnard_theme_feature.git
[submodule "sites/all/modules/subpathauto"]
	path = sites/all/modules/subpathauto
	url = http://git.drupal.org/project/subpathauto.git
[submodule "sites/all/modules/chart"]
	path = sites/all/modules/chart
	url = http://git.drupal.org/project/chart.git
[submodule "sites/all/modules/coder"]
	path = sites/all/modules/coder
	url = http://git.drupal.org/project/coder.git
[submodule "sites/all/modules/git_deploy"]
	path = sites/all/modules/git_deploy
	url = http://git.drupal.org/project/git_deploy.git
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = http://git.drupal.org/project/ctools.git
[submodule "sites/all/modules/devel"]
	path = sites/all/modules/devel
	url = http://git.drupal.org/project/devel.git
[submodule "sites/all/modules/google_analytics"]
	path = sites/all/modules/google_analytics
	url = http://git.drupal.org/project/google_analytics.git
[submodule "sites/all/modules/google_analytics_reports"]
	path = sites/all/modules/google_analytics_reports
	url = http://github.com/discoverygarden/google_analytics_reports.git
[submodule "sites/all/modules/imagemagick"]
	path = sites/all/modules/imagemagick
	url = http://git.drupal.org/project/imagemagick.git
[submodule "sites/all/modules/libraries"]
	path = sites/all/modules/libraries
	url = http://git.drupal.org/project/libraries.git
[submodule "sites/all/modules/oauth"]
	path = sites/all/modules/oauth
	url = http://git.drupal.org/project/oauth.git
[submodule "sites/all/modules/plupload"]
	path = sites/all/modules/plupload
	url = http://git.drupal.org/project/plupload.git
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
[submodule "sites/all/modules/views_slideshow"]
	path = sites/all/modules/views_slideshow
	url = http://git.drupal.org/project/views_slideshow.git
[submodule "sites/all/modules/xmlsitemap"]
	path = sites/all/modules/xmlsitemap
	url = http://git.drupal.org/project/xmlsitemap.git
[submodule "sites/all/modules/masquerade"]
	path = sites/all/modules/masquerade
	url = http://git.drupal.org/project/masquerade.git
[submodule "sites/all/themes/zen"]
	path = sites/all/themes/zen
	url = http://git.drupal.org/project/zen.git
[submodule "sites/all/modules/service_links"]
	path = sites/all/modules/service_links
	url = http://git.drupal.org/project/service_links.git
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = http://git.drupal.org/project/entity.git
[submodule "sites/all/modules/wysiwyg"]
	path = sites/all/modules/wysiwyg
	url = http://git.drupal.org/project/wysiwyg.git
[submodule "sites/all/modules/media"]
	path = sites/all/modules/media
	url = http://git.drupal.org/project/media.git
[submodule "sites/all/modules/field_collection"]
	path = sites/all/modules/field_collection
	url = http://git.drupal.org/project/field_collection.git
[submodule "sites/all/modules/islandora_pdfjs"]
	path = sites/all/modules/islandora_pdfjs
	url = https://github.com/Islandora/islandora_pdfjs.git
[submodule "sites/all/modules/sass"]
	path = sites/all/modules/sass
	url = http://git.drupal.org/project/sass.git
[submodule "sites/all/modules/colorbox"]
	path = sites/all/modules/colorbox
	url = http://git.drupal.org/project/colorbox.git
[submodule "sites/all/modules/islandora_openseadragon_paged"]
	path = sites/all/modules/islandora_openseadragon_paged
	url = git@github.com:BarnardArchives/islandora_openseadragon_paged.git
[submodule "sites/all/modules/securepages"]
	path = sites/all/modules/securepages
	url = https://git.drupal.org/project/securepages.git
[submodule "sites/all/modules/islandora_solr_content_type"]
	path = sites/all/modules/islandora_solr_content_type
	url = git@github.com:BarnardArchives/islandora_solr_content_type.git
[submodule "sites/all/libraries/citeproc-php"]
	path = sites/all/libraries/citeproc-php
	url = git@github.com:Islandora/citeproc-php.git
[submodule "sites/all/modules/bc_citation"]
	path = sites/all/modules/bc_citation
	url = git@github.com:br2490/bc_citation.git
[submodule "sites/all/modules/islandora_find_replace"]
	path = sites/all/modules/islandora_find_replace
	url = https://github.com/contentmath/islandora_find_replace.git
[submodule "sites/all/modules/islandora_datastream_crud"]
	path = sites/all/modules/islandora_datastream_crud
	url = https://github.com/mjordan/islandora_datastream_crud.git
[submodule "sites/all/modules/islandora_patches"]
	path = sites/all/modules/islandora_patches
	url = https://github.com/Islandora-Labs/islandora_patches
[submodule "sites/all/modules/bc_islandora_drush"]
	path = sites/all/modules/bc_islandora_drush
	url = git@github.com:BarnardArchives/bc_islandora_drush.git
[submodule "sites/all/drush"]
	path = sites/all/drush
	url = git@github.com:BarnardArchives/barnard_islandora_drush.git 
[submodule "sites/all/modules/bc_islandora_exhibit"]
	path = sites/all/modules/bc_islandora_exhibit
	url = git@github.com:BarnardArchives/barnard_islandora_exhibit.git
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = https://git.drupal.org/project/date.git
[submodule "sites/all/modules/domain"]
	path = sites/all/modules/domain
	url = https://git.drupal.org/project/domain.git
[submodule "sites/all/modules/filemime"]
	path = sites/all/modules/filemime
	url = https://git.drupal.org/project/filemime.git
