@mixin landing-page {
  .inactive,
  &.inactive {
    display: none;
  }
  .active,
  &.active {
    display: block;
  }
  ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
  }
  li {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
}

body {
  background: #fff;
  .logged-in #navigation {
    margin-top: 110px;
  }
}

.breadcrumb {
  margin-bottom: 15px;
}

#dl-links {
  margin-bottom: 10px;
}

// Barnard Compound Objects

.islandora-compound-title {
  font-size: 125% !important;
}

.islandora-compound-manage {
  font-size: 85% !important;
}

.islandora-compound-details {
  border-bottom: 1px dotted #ccc;
  //padding-bottom: 1em;
  margin: 1em 0;
  font-size: 90% !important;
}
.islandora-compound-thumbs {
  border-top: none !important;
}
// I don't know if the additional margin is really making anything clearer.
.islandora-compound-thumb {
  margin-bottom: 1em;
  padding-bottom: 0 !important;
}

.islandora-compound-thumb .islandora-compound-caption {
  font-size: 90% !important;
  //max-width: none !important;
}

// Newspaper and yearbook landing pages.
#block-bc-islandora-bc-islandora-newspaper {
  width: 100%;
  margin: 0 auto;
}

#return-to-page {
  margin-bottom: 5px;
}

.bulletin-calendar {
  @include landing-page;
}

.yearbook-calendar {
  @include landing-page;
}

#book-page-viewer {
  margin-top: 10px;
}

// Yearbook landing page.
#yearbook-nav {
  span.year {
    margin: 0 10px 10px 0;
  }
  .decade {
    margin-left: 50px;
    margin-bottom: 25px;
  }
}

// Student publications.
.islandora-basic-collection.student-pubs .islandora-basic-collection-object {
  margin-left: 0;
}

// Newspaper issue.
.islandora-newspaper-issue-navigator {
  display: block;
  margin-bottom: 10px;
}

.islandora-newspaper-object {
  margin-top: 0 !important;
}

// Collections landing page.
.landingpage#collections {
  margin: 0 auto;
  text-align: center;
  max-width: 860px;
}

.landingpage-icon {
  display: inline-block;
  width: 220px;
  height: 225px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: center;
  cursor: pointer;
}

.landingpage-icon h1 {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 8.9em;
  margin-bottom: 0;
}

.landingpage-icon a {
  text-decoration: none;
}

.landingpage-icon a.lp-link {
  display: block;
  font-size: 0.95em;
}

.landingpage-link {
  width: 200px;
}

.landingpage-icon#photos {
  background: url(/sites/all/modules/bc_islandora/img/photographsicon.jpg) no-repeat top left;
  height: 225px;
  width: 225px;
}

.landingpage-icon#bulletin {
  background: url(/sites/all/modules/bc_islandora/img/bulletinicon.jpg) no-repeat;
}

.landingpage-icon#yearbook {
  background: url(/sites/all/modules/bc_islandora/img/yearbookicon.jpg) no-repeat;
}

.landingpage-icon#student-pubs {
  background: url(/sites/all/modules/bc_islandora/img/studentpubicon.jpg) no-repeat;
}

.landingpage-icon#bcrw {
  background: url(/sites/all/modules/bc_islandora/img/bcrw.jpg) no-repeat;
}

.landingpage-icon#alumnscapbooks {
  background: url(/sites/all/modules/bc_islandora/img/scrapbooks.jpg) no-repeat;
}

.islandora-metadata p {
  margin: 0;
}

#block-islandora-solr-display-switch {
  width: 15%;
}

#block-islandora-solr-display-switch h2 {
  float: left;
  font-weight: normal;
  font-size: 100%;
  margin-top: 1.5em;
  margin-right: 0.25em;
  line-height: 1.5em;
}

#block-islandora-solr-display-switch ul {
  list-style: none outside none;
  margin-bottom: 0;
}

// Social media.
.socialmedia {
  display: block;
  margin: 20px 0;
}

.socialmedia a {
  margin-right: 10px;
}

// Overriding theme styles.
.islandora-openseadragon {
  width: 85% !important;
}

// Override solr styles. -BR 2016/3/11
.form-item.form-type-textfield.form-item-date-filter-date-filter-from {
  display: inline-block;
  margin: 1em 0;
}

.form-item.form-type-textfield.form-item-date-filter-date-filter-to {
  display: inline-block;
  margin: 1em 0;
}
