.views-table {
    display: table;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

.views-table td,
.views-table th {
  word-wrap: break-word;
}

td.views-field-actions .ctools-dropbutton-wrapper {
  min-height: 20px;
}
