.view-id-exhibition .exhibition-object .views-field-title,
.view-id-exhibition .exhibition-object .views-field-body {
  // top: unset !important;
  margin-bottom: unset !important;
}

.view-id-exhibition {
  margin-top: 20px;
  .views-row-1 {
    padding-top: 0 !important;
  }
  .exhibition-object {
    width: 90%;
    clear: left;
    padding-top: 25px;
    .views-field {
      position: relative;
    }
    //.views-field-title,
    //.views-field-body {
    //  top: -20px;
    //}
    .exhibition-tn {
      margin: 10px 10px 10px 0;
      float: left;
    }
    //.exhibition-title {
    //  position: relative;
    //  left: 25px;
    //  top: 20px;
    //}
    //.exhibition-body {
    //  position: relative;
    //  left: 25px;
    //}
  }
}


#ex-nav {
  position: relative;
  top: 50px;
  a {
    font-family: Arial, sans-serif;
    color: #333333;
    font-size: 1rem;
    background-color: #F1BDBB;
    margin-right: 10px;
    padding: 12px 20px;
    border: 1px solid #D9ABA9;
    border-radius: 4px;
    text-decoration: none;
    &:hover,
    &:active {
      background-color: #D9ABA9;
      border: 1px solid #BF9795;
    }
    &#prev {
      margin-right: 25px;
    }
  }
}

#ex-themes {
  margin-top: 10px;
  margin-bottom:12px;
  padding-bottom: 30px;
  a.theme {
    font-family: Arial, sans-serif;
    font-size: 1.05em;
    text-decoration: none;
    font-weight: 600;
    color: #3D3D66;
    padding: 5px;
    margin-right: 20px;
    border-bottom: 1px solid #3D3D66;
    &:active,
    &:hover {
      color: #54548C;
      border-bottom: 4px solid #54548C;
    };
  }
  a.theme.active {
    background-color: #F5F2E5;
    border-bottom: 4px solid #3D3D66;
  }
}

.ex-obj {
  clear: both;
  margin-bottom: 50px;
  display: none;
  &.active {
    display: block;
  }
  &[data-layout="left"] .ex-images {
    float: left;
  }
  &[data-layout="right"] .ex-images {
    float: right;
    margin-left: 25px;
  }
  &[data-layout="center"] .ex-images {
    padding: 0;
  }
}

.ex-images {
  background: #D0D0D0;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  .panel-body {
    background-color: #F5F2E5;
  }
  .large-image {
    //margin-bottom: 20px;
    .caption {
      display: block;
      padding: 20px 15px 0 15px; // needed to account for panel-body padding.
      font-size: 1rem;
    }
  }
  .ex-thumbnails .img-responsive {
    display: inline;
    margin-top: 15px;
    max-width: 100%;
    height: auto;
  }
  .ex-thumbnails a {
    margin-right: 10px;
  }
  .ex-thumbnails img.active {
    border: 2px solid #0f2d6b;
  }
}

.ex-images.panel {
  border: 0;
}

.node-exhibition {
  margin-bottom: 50px;
}

@media all and (min-width: 320px) and (max-width: 540px) {
  .view-id-exhibition {
    .exhibition-object {
      width: auto !important;
      .views-field {
      }
      .exhibition-tn {
        float: none !important;
      }
      .exhibition-body,
      .exhibition-title {
        left: 0 !important;
      }
    }
  }
  .exhibition-tn > .img-responsive {
    margin: auto;
    width: 75%;
  }
}
